@page "/configurations"
@using Kora.Shared.Models
@using Kora.Shared.ModelsDto
@inject IAdministrateurService AdministrateurService
@inject IPaysService PaysService
@inject IVilleService VilleService

<h3>Configurations</h3>
<br/>

<div style="font-size: small" class="container-fluid">
    <br/>
    <div  class="row">
        <div class="col" style="margin-right: 40px">
            <h4 class="">Ajouter un <strong>pays</strong></h4>
            <br/>
            <div class="row">
                <label class="col m-2">Nom du Pays</label>
                <input class="col m-2" type="text" @bind="@pays.NomPays"/>
            </div>
            <div class="row">
                <label class="col m-2">Indicatif</label>
                <input placeholder="(exple : 228)" class="col m-2" type="number" @bind="@pays.Indicatif"/>
            </div>
            <div class="row">
                <label class="col m-2">Code ISO</label>
                <input placeholder="(exple : TG)" class="col m-2" type="text" @bind="@pays.CodeISO"/>
            </div>
            <div class="row">
                <label class="col m-2">Devise du Pays</label>
                <input placeholder="(exple : FCFA)" class="col m-2" type="text" @bind="@pays.DevisePays"/>
            </div>
            <button style="margin-bottom: 15px; margin-top: 10px;" class="btn btn-success" @onclick="ConfirmAddPays">Ajouter un Pays</button>
            <br/>
            
            <h5>Listes des <strong>Pays en partenariat</strong></h5>
            <table class="table table-hover table-striped table-bordered bg-light fs-7">
                <thead class="table-light">
                <th class="text-center">Nom</th>
                <th class="text-center">Indicatif</th>
                <th class="text-center">Code ISO</th>
                <th class="text-center">Devive Pays</th>
                </thead>
                <tbody>
                @foreach (var lepays in lespays)
                {
                    <tr>
                        <td class="text-center">@lepays.NomPays</td>
                        <td class="text-center">@lepays.Indicatif</td>
                        <td class="text-center">@lepays.CodeISO</td>
                        <td class="text-center">@lepays.DevisePays</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col" style="margin-left: 40px">
            <h4>Ajouter une <strong>ville</strong></h4>
            <br/>
            <div class="row">
                <label class="col">Nom de la Ville</label>
                <input class="col m-1" type="text" @bind="@ville.NomVille"/>
                <select class="col m-2" @bind="selectedPaysId">
                    <option value="0">Sélectionner le Pays</option>
                    @foreach (var lepays in lespays)
                    {
                        <option value="@lepays.IdPays">@lepays.NomPays</option>
                    }
                </select>
            </div>
            <div class="row">
                <button class="m-2 col btn btn-success" @onclick="ConfirmAddVille">CREER LA VILLE</button>
            </div>
            <br/>
            <div class="row">
                <table class="m-2 table-hover table table-striped table-bordered bg-light fs-7">
                    <thead class="table-dark">
                    <th class="text-center">Nom</th>
                    <th class="text-center">Nom du Pays</th>
                    </thead>
                    <tbody>
                    @foreach (var laville in lesvilles)
                    {
                        <tr>
                            <td>@laville.NomVille</td>
                            <td>@GetPaysName(laville.IdPays)</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
    
    <div class="row">
        <h4>Enregistrer un Assistant <strong>Gérant</strong></h4>
        <div class="container col">
            <label class="row m-2">Nom complet</label>
            <input type="text" class="row m-2 w-25" @bind="admin.Username"/>
            <label class="row m-2">Email</label>
            <input type="text" class="row m-2 w-25" @bind="admin.Email"/>
            <button class="btn btn-success row m-2" @onclick="ConfirmAddAdmin">Ajouter l'adjoint</button>
        </div>
        <div class="col container mb-5">
            <h6 class="m-2">Liste des <strong>Gérants</strong></h6>
            <table class="m-2 table-hover table table-striped table-bordered bg-light fs-7">
                <thead class="table-dark">
                <th class="text-center">Nom complet</th>
                <th class="text-center">Email</th>
                </thead>
                <tbody>
                @foreach (var ladmin in lesadmins)
                {
                    <tr>
                        <td class="text-center">@ladmin.Username</td>
                        <td class="text-center">@ladmin.Email</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private List<Pays> lespays = new List<Pays>();
    private List<Ville> lesvilles = new List<Ville>();
    private List<Administrateur> lesadmins = new List<Administrateur>();
    private int selectedPaysId;

    private Pays pays = new Pays();
    private Ville ville = new Ville();
    private AdministrateurDto admin = new AdministrateurDto();
    
    protected override async Task OnInitializedAsync()
    {
        lesadmins = await AdministrateurService.GetAllAdmin();
        lespays = await PaysService.GetAllPays();
        lesvilles = await VilleService.GetAllVille();
    }


    private async Task ConfirmAddAdmin()
    {
        var result = await JSRuntime.InvokeAsync<bool>("confirm", "Etes-vous sûr d'jouter un adjoint ?");
        var newAdmin = await AdministrateurService.Enregistrer(admin);
        if (result)
        {
            lesadmins.Add(newAdmin);
            admin = new AdministrateurDto();
        }
    }
    
    private async Task ConfirmAddVille()
    {
        var result = await JSRuntime.InvokeAsync<bool>("confirm", "Ajouter une nouvelle ville ?");

        if (result)
        {
            if (selectedPaysId != 0)
            {
                var selectedPays = lespays.FirstOrDefault(p => p.IdPays == selectedPaysId);
                if (selectedPays != null)
                {
                    ville.IdPays = selectedPaysId;
                }
            }
            
            var newVille = await VilleService.AddVille(ville);
            
            if (newVille != null)
            {
                lesvilles.Add(newVille);
                ville = new Ville();
            }
        }
    }

    private async Task ConfirmAddPays()
    {
        var result = await JSRuntime.InvokeAsync<bool>("confirm", "Ajouter un nouveau Pays ?");

        var newPays = await PaysService.AddPays(pays);
        if (result)
        {
            lespays.Add(newPays);
            pays = new Pays();
        }
    }
    
    private string GetPaysName(int idPays)
    {
        var pays = lespays.FirstOrDefault(p => p.IdPays == idPays);
        return pays != null ? pays.NomPays : "Inconnu";
    }

}
