@page "/responsables"
@using Kora.Shared.Models
@inject IResponsableAgence ResponsableAgenceService


<h3>Liste des <strong>Responsables</strong> d'<strong>Agences</strong></h3>

<table class="table table-striped table-bordered bg-light">
    <thead class="table-light">
    <th>Identifiant</th>
    <th>Nom</th>
    <th>Prénoms</th>
    <th>Sexe</th>
    <th>Age (ans)</th>
    <th>Téléphone</th>
    <th>Statut du Responsable</th>
    </thead>
    <tbody>
        @foreach (var resp in responsables )
        {
            <tr>
                <td>@resp.IdResponsable</td>
                <td>@resp.NomResponsable</td>
                <td>@resp.PrenomResponsable</td>
                <td>@resp.SexeResponsable</td>
                <td>@resp.AgeResponsable</td>
                <td>@resp.Tel</td>
                <td>@resp.StatutResponsable</td>
            </tr>
        }
    </tbody>
</table>
@code {
    private List<ResponsableAgence> responsables = new List<ResponsableAgence>();

    protected override async Task OnInitializedAsync()
    {
        responsables = await ResponsableAgenceService.GetAllResponsable();
    }

}
